/* https://coolors.co/dd6e42-e8dab2-4f6d7a-c0d6df-eaeaea */

/* Header */
#app {
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow: hidden;
  background: #7f8c8d;
	z-index: 1;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  h1 {
    margin: auto;
    color: #f9f1e9;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    grid-column: 1;
    grid-row: 1;
  }

  canvas {
    grid-column: 1;
    grid-row: 1;
  }
}
